// Fonts

$primary-font:'Lato' , sans-serif;;
// $secondary-font: '';

// path
$images-path: "../images" !default;

//fonts Path
$fonts-path: "../fonts" !default;

// icomoon


// Color

$primary-color: #1B7642;
$secondary-color: #504450;
$white-color: #ffffff;
$link-color:#505050;


